/* button style  */
.button-style{
  background: #3F87F5;
  text-decoration: none;
  color: white;
  padding: 8px 10px;
  
}
.title-style{
   color: #231D4F;
   

    
}
.font-awesome{
    
    color: rgba(84,69,194,255);
    


    
    

}
.paragraph-style{
    color: #848199;
    font-weight: 400;

}
.choose-button{
    background: #fef5fa;
    border: none;
    color: #478cf5;

}
footer{
    position: relative;


    margin-top: 150px;
    background: #0B0D17;
    height: 280px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 170px;
    padding-right: 200px;

   
}
 
